---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Container from '../components/Container.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout metaDesc="モダンフロントエンドについて日々勉強しています。">
	<Header />
	<Container>
		<p>Home</p>
		<ul>
			{allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
		</ul>
	</Container>
</Layout>
