---
const { current } = Astro.props;
---
<nav class="bulma-breadcrumb" aria-label="breadcrumbs">
  <ul class="ml-0">
    <li>
        <a href="/">Home</a>
    </li>
    <li class="bulma-is-active bulma-text"><span class="pl-3">{current}</span></li>
  </ul>
</nav>