---
const {headingLv = 2, text} = Astro.props;
const currentLv = Math.min(Math.max(headingLv, 2), 6);
const Tag = `h${currentLv}`;
---
<div class=`bulma-title bulma-is-${currentLv}`>
    <Tag>{text}</Tag>
</div>