---
const navLinks = [
    {title: 'Home', url: '/', current: false},
    {title: 'About', url: '/about/', current: false}
]
---
<header>
    
    <nav>
        <ul>
        </ul>
    </nav>
    <nav class="bulma-navbar is-align-items-center" role="navigation" aria-label="main navigation">
        <div class="bulma-navbar-brand is-align-items-center">
            <h1>
                <a class="bulma-navbar-item" href="/">Tech Study Blog | テクスタ</a>
            </h1>
      
          <a role="button" class="bulma-navbar-burger" aria-label="menu" aria-expanded="false" data-target="bulma-navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div class="bulma-navbar-menu">
            <ul class="bulma-navbar-start">
                {
                    navLinks.map((menu) =>{
                        return (
                            <li>
                                <a href={menu.url} class="bulma-navbar-item">{menu.title}</a>
                            </li>
                        )
                    })
                }
            </ul>
        </div>
      </nav>
</header>